<div class="carousel">
  <div class="title-carousel">
    <p>{{magazines[0]}}</p>
  </div>
  <div class="content-carousel">
    <div #wrapcarousel [ngStyle]="horizontalScroll()" class="wrap-carousel">
      <div *ngFor="let magazine of magazines[1]" class="item-carousel">
        <div>
          <img src="{{WebServiceURL}}{{magazine.thumbnail}}" alt="">
          <div class="info-item-carousel">
              <span class="title-carousel">{{magazine.title}}</span>
          </div>

        </div>
      </div>
    </div>
    <div (click)="moveLeft()" class="left-arrow arrow-carousel"></div>
    <div (click)="moveRight()" class="right-arrow arrow-carousel"></div>
  </div>
</div>
