<div class="carousel">
  <div class="title-carousel">
    <p></p>
  </div>
  <div class="content-carousel">
    <div #wrapcarousel [ngStyle]="horizontalScroll()" class="wrap-carousel">
      <div *ngFor="let magazine of magazines" class="item-carousel">
        <div>
          <span class="index-carousel"></span>
        </div>
      </div>
    </div>
    <div (click)="moveLeft()" class="left-arrow arrow-carousel"></div>
    <div (click)="moveRight()" class="right-arrow arrow-carousel"></div>
  </div>
</div>
