/**** TAMAÑOS PANTALLA ******/
/****** COLORES ********/
.pieDePagina .footerIndex {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #333333;
}
.pieDePagina .footerTitle {
  margin-bottom: 1.5%;
  font-weight: bold;
  font-size: 1.4em;
  color: #eeeeee;
}
.pieDePagina .footerLink a {
  text-decoration: none;
  color: #c8c8c8;
  font-size: 1em;
}
.pieDePagina .footerLink:hover {
  font-size: 1.1em;
  text-decoration: underline;
}
/***** XS *******/
@media (max-width: 767px) {
  .footerIndex {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #333333;
  }
  .footerTitle {
    margin-bottom: 1.5%;
    font-weight: bold;
    font-size: 1.4em;
    color: #eeeeee;
  }
  .footerLink a {
    text-decoration: none;
    color: #c8c8c8;
    font-size: 1em;
  }
  .footerLink:hover {
    font-size: 1.1em;
    text-decoration: underline;
  }
  .footerIndex {
    height: 100px;
  }
}
/***** SM - MD - LG *******/
@media (min-width: 768px) {
  .footerIndex {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #333333;
  }
  .footerTitle {
    margin-bottom: 1.5%;
    font-weight: bold;
    font-size: 1.4em;
    color: #eeeeee;
  }
  .footerLink a {
    text-decoration: none;
    color: #c8c8c8;
    font-size: 1em;
  }
  .footerLink:hover {
    font-size: 1.1em;
    text-decoration: underline;
  }
  .footerIndex {
    height: 50px;
  }
}
