<div class="row footerIndex">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="row text-center footerTitle">
        KIOSKO SPAIN 2018 &#174;
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-center footerLink">
          <a href="">Términos y Condiciones de uso</a>
        </div>
        <div class="col-xs-12  col-sm-4 text-center footerLink">
          <a href="">Declaración de privacidad</a>
        </div>
        <div class="col-xs-12 col-sm-4 text-center footerLink">
          <a href="">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</div>
