<footer>
  <div class="footerIndex">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3>KIOSKO SPAIN 2018 &#174;</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <a href="">Términos y Condiciones de uso</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <a href="">Declaración de privacidad</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <a href="">Contacto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
