<div class="row footerIndex">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="row text-center">
        <div class="col-xs-12 col-md-3 footerTitle">
          KIOSKO SPAIN 2018 &#174;
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 text-center footerLink">
          <a [routerLink]="['/termsandconditions']">Términos y Condiciones de uso</a>
        </div>
        <div class="col-xs-12  col-sm-3 text-center footerLink">
          <a [routerLink]="['/privacy']">Declaración de privacidad</a>
        </div>
        <div class="col-xs-12 col-sm-3 text-center footerLink">
          <a [routerLink]="['/contact']">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</div>
