<nav>
  <div>
    <div class="menu-icon_container">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <h1>
      <a href="home.html">KIOSKO</a>
    </h1>
  </div>
  <div id="toggle-menu" class="toggle-menu">
    <div>
      <div class="menu-profileInfo_container">
        <a href="adjust.html">
          <img src="assets/images/jon.jpg" alt="" class="img-circle">
        </a>
        <p class="menu-profileInfo_username"></p>
        <p class="menu-profileInfo_moreinfo"></p>
      </div>
      <div class="toggle-menu_items-list">
        <!-- <a onclick="goto()">
          <i class="glyphicon glyphicon-heart"></i>Favoritos</a>
        <a href="descubre.html">
          <i class="glyphicon glyphicon-eye-open"></i>Descubre</a>
        <a href="categorias.html">
          <i class="glyphicon glyphicon-cloud"></i>Categorias</a>
        <a href="carrito.html">
          <i class="glyphicon glyphicon-shopping-cart"></i>Cesta</a>
        <a href="adjustedit.html">
          <i class="glyphicon glyphicon-cog"></i>Ajustes</a>
        <a href="/index.html">
          <i class="glyphicon glyphicon-remove"></i>Salir</a> -->
      </div>
    </div>
  </div>
</nav>
