<div class="row">
  <label for="ownerName"></label>
  <input id="ownerName" type="text" placeholder="Lorem ipsum" [(ngModel)]="creditcard.OwnerName">
  <label for="creditcardNumber"></label>
  <input id="creditcardNumber" type="text" placeholder="XXXX XXXX XXXX XXXX" [(ngModel)]="creditcard.CreditcardNumber">
  <label for="expirationDate"></label>
  <input id="expirationDate" type="text" placeholder="XX/XXXX" [(ngModel)]="creditcard.ExpirationDate">
  <label for="securityCode"></label>
  <input id="securityCode" type="text" placeholder="XXX" [(ngModel)]="creditcard.SecurityCode">
  <button class="btn" (click)="addCreditCard()">Añadir</button>
</div>
