/**** TAMAÑOS PANTALLA ******/
/****** COLORES ********/
/******** SOMBRAS **********/
/**** BOTONES ****/
.abm_btn {
  box-shadow: 2px 2px 5px #646464;
  text-shadow: 1px 1px 2px #646464;
  border-radius: 15px;
  font-size: 1.2em;
}
.paragraphFont {
  margin: 0;
  padding: 0;
  text-align: justify;
}
/***** XS *******/
@media (max-width: 767px) {
  /**** BOTONES ****/
  .loginBtn,
  .registerBtn {
    box-shadow: 2px 2px 5px #646464;
    text-shadow: 1px 1px 2px #646464;
    border-radius: 15px;
    font-size: 1.2em;
    margin-top: 7.5px;
    height: 35px;
    white-space: normal;
    font-weight: 400;
  }
  .menuIndex {
    background-color: #0a0a0a;
    height: 50px;
    top: 0;
  }
  .indexTitle {
    margin-bottom: 5%;
    padding-top: 75px;
    color: #333333;
    font-size: 3em;
    font-weight: 900;
  }
  .indexMainText {
    margin-bottom: 5%;
  }
  .indexMainText p {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #0a0a0a;
    font-size: 1.3em;
    font-weight: bolder;
  }
  .indexText {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .indexText p {
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-right: 7.5%;
    margin-left: 7.5%;
    font-size: 1.2em;
  }
}
/***** SM *******/
@media (min-width: 768px) {
  /**** BOTONES ****/
  .loginBtn,
  .registerBtn {
    box-shadow: 2px 2px 5px #646464;
    text-shadow: 1px 1px 2px #646464;
    border-radius: 15px;
    font-size: 1.2em;
    margin-top: 7.5px;
    height: 35px;
    white-space: normal;
    font-weight: 400;
  }
  .menuIndex {
    background-color: #0a0a0a;
    height: 50px;
    top: 0;
  }
  .indexTitle {
    padding-top: 66px;
    margin-bottom: 2.5%;
    text-align: center;
    color: #333333;
    font-size: 3em;
    font-weight: 900;
  }
  .indexMainText {
    margin-bottom: 5%;
  }
  .indexMainText p {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #0a0a0a;
    font-size: 1.3em;
    font-weight: bolder;
  }
  .indexText {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .indexText p {
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1.2em;
    line-height: 1.5;
  }
}
/***** MD *******/
@media (min-width: 992px) {
  /**** BOTONES ****/
  .loginBtn,
  .registerBtn {
    box-shadow: 2px 2px 5px #646464;
    text-shadow: 1px 1px 2px #646464;
    border-radius: 15px;
    font-size: 1.2em;
    margin-top: 7.5px;
    margin-left: 3%;
    height: 35px;
    white-space: normal;
    font-weight: 400;
  }
  .menuIndex {
    background-color: #0a0a0a;
    height: 50px;
    top: 0;
  }
  .indexTitle {
    padding-top: 66px;
    margin-bottom: 2.5%;
    text-align: center;
    color: #333333;
    font-size: 3em;
    font-weight: 900;
  }
  .indexMainText {
    margin-bottom: 5%;
  }
  .indexMainText p {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #0a0a0a;
    font-size: 1.3em;
    font-weight: bolder;
  }
  .indexText {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .indexText p {
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1.2em;
    line-height: 1.5;
  }
}
