<div class="row navbar-fixed-top menuIndex">
  <div class="container">
    <div class="col-md-7"></div>
    <button [routerLink]="['/signin']" id="loginBtn" class="col-xs-4 col-xs-offset-1 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-0 btn loginBtn"
      type="button">Login</button>
    <button [routerLink]="['/signup']" id="registerBtn" class="col-xs-4 col-xs-offset-2 col-sm-3 col-md-2 col-md-offset-0 btn registerBtn"
      type="button">Regístrate</button>
  </div>
</div>

<main class="container-fluid contenido">
  <div class="row">
    <div class="col-xs-12 indexTitle text-center">KIOSKO
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 indexMainText">
      <div class="row">
        <p>Una nueva forma de leer tus revistas y libros favoritos en el momento que quieras.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 indexImg">
        <div class="row">
          <img class="img-responsive" src="{{WebServiceURL}}/assets/webImages/ebook-3089013_1920.jpg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 indexText">
        <h4>Revistas</h4>
        <p> En Kiosko tienes millones de revistas. Lee tus revistas favoritas, descubre publicaciones nuevas y monta tu biblioteca
          perfecta.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-10 indexText">
        <h4>Nuevos lanzamientos</h4>
        <p>Lee las últimas novedades de la semana y echa un vistazo a las publicaciones más destacadas.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 indexImg">
        <div class="row">
          <img class="img-responsive" src="{{WebServiceURL}}/assets/webImages/man-791049_1920.jpg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 indexImg">
        <div class="row">
          <img class="img-responsive" src="{{WebServiceURL}}/assets/webImages/mobile-791164_1920.jpg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-10 indexText">
        <h4>Publicaciones en todas partes</h4>
        <p>Busca los contenidos que se ajustan a tus preferencias y guárdalos para leer más tarde. Lee las últimas publicaciones
          aunque no tengas conexión. En el metro, en la playa, en el sofá... disfruta de las mejores lecturas estés donde estés.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 indexText">
        <h4>Sin compromiso</h4>
        <p>Por sólo 9,99€ al mes tienes acceso ilimitado a todo nuestro catálogo de revistas y otras publicaciones, pero si
          decides que Kiosko no es para ti puedes cancelar cuando quieras.</p>
        <br>
        <h4>Multidispositivo</h4>
        <p>Está disponible para iOS y Android, para leer tus revistas favoritas a través de cualquier dispositivo, desde un
          smartphone, una tablet e incluso en televisión.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7 indexImg">
        <div class="row">
          <img class="img-responsive" src="{{WebServiceURL}}/assets/webImages/magazines-1243577_1920.jpg">
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>