<!-- <div class="row navbar-fixed-top menuIndex">
  <div class="container">
    <div class="col-xs-12">
      <h1>KIOSKO ESPAÑA</h1>
    </div>
  </div>
</div>
-->

<div class="row">
  <div class="container-fluid">
    <div class="col-xs-12 text-center">
      <h1>Política de privacidad de Kiosko</h1>
      <p>En vigor desde el 1 de noviembre de 2016</p>
    </div>


    <div class="row">
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-11 col-xs-offset-1">
            <h2>1 Introducción</h2>

            <p>Gracias por elegir Kiosko. Esta es nuestra Política de privacidad. Antes de entrar en detalles, quisiéramos resaltar
              algunos de sus principios clave. Estos principios son importantes para nosotros porque sabemos que son importantes
              para usted.</p>

            <p>La Política de privacidad existe por tres motivos:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ol>
              <li>Explicar cómo usamos la información que usted comparte con nosotros a fin de crear un gran producto y darle
                a usted una experiencia genial con el mismo;</li>
              <li>Asegurarnos que usted entiende qué información recopilamos con su permiso y lo que hacemos (y no hacemos) con
                ella;
              </li>
              <li>Asumir la responsabilidad de proteger sus derechos y su privacidad conforme a esta política.</li>
            </ol>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>
              <strong>Toda la información que recopilamos está relacionada con proveerle del servicio y las aplicaciones de Kiosko.</strong>
            </p>

            <p>Por lo general, hay dos categorías de información que recopilamos: 1) información que debemos tener a fin de
              que usted utilice Kiosko; y 2) información que podemos utilizar a fin de proveerle de aplicaciones adicionales
              y experiencias mejoradas si elige compartir tal información.</p>

            <p>La primera categoría incluye:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ul>
              <li>Información de registro, incluido su nombre, fecha de nacimiento, domicilio y otra información que proporciona
                cuando se inscribe en Kiosko.</li>
              <li>Localización generalizada y no específica, que derivamos de su dirección de IP. Nuestras licencias para brindarle
                música y otro contenido son específicas según la localización, por lo que necesitamos saber en qué país se
                encuentra usted. Esto también nos permite hacerle sugerencias en base a su localización generalizada, así
                como de conciertos o actuaciones en vivo.</li>
              <li>La música que escucha y su interactuación con el servicio. Esto permite que le hagamos recomendaciones y le
                sugiramos contenido pertinente. Usted puede elegir si desea o no compartir esta información con sus amigos,
                seguidores o el público.
              </li>
              <li>Información técnica y de los sensores necesaria para el funcionamiento de Kiosko. Esto incluye el tipo de navegador
                y dispositivo que utiliza usted, datos de la pantalla táctil así como información de los sensores del acelerómetro
                y el giroscopio de su dispositivo. Esto le permite controlar a Kiosko y hace posible que nosotros hagamos
                cosas sencillas como girar los vídeos y recomendar música en base a si usted está quieto o corriendo.</li>
            </ul>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>La segunda categoría incluye información que nos permite ofrecerle prestaciones adicionales. Jamás recibimos
              ninguna información de la siguiente a menos que usted elija expresamente compartirla con nosotros; es así de
              sencillo. Estos son algunos ejemplos:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ul>
              <li>Su localización específica: Nosotros nunca recopilaremos ni utilizaremos la localización especifica de su dispositivo
                sin recibir primero su permiso expreso. Esta información nos permite crear experiencias auditivas de colaboración
                (solo con otras personas que también hayan dado su autorización) y proporcionar recomendaciones aún mejores
                acerca de música popular localmente, locales para espectáculos en vivo y conciertos.</li>
              <li>Sus fotos: Solo accederemos a las imágenes que usted seleccione específicamente y nunca escanearemos ni importaremos
                su galería ni su carrete de fotos. Esto le permite siempre seleccionar fotos individuales para cambiar la
                foto de su perfil o crear carátulas para una lista de reproducción. Puede dejar de compartir fotos y revocar
                el acceso cuando lo desee.</li>
              <li>Sus contactos: Nunca escanearemos ni importaremos sus contactos a menos que usted nos pida que lo hagamos.
                Si decide hacerlo, solo usaremos su información de contacto a fin de ayudarle a encontrar amigos o contactos
                que utilicen Kiosko.
              </li>
              <li>Su micrófono: Nunca accederemos a su micrófono ni lo utilizaremos a menos que nos dé su permiso expreso. Esto
                podría permitirle controlar Kiosko con su voz y siempre tendrá usted la capacidad de desactivar el acceso
                al micrófono.
              </li>
            </ul>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Es importante la diferencia entre estas dos categorías. La información de la primera categoría es aquella que
              usted debe proporcionar a fin de utilizar Kiosko. Cuando acepta nuestra Política de privacidad usted nos da
              el derecho de recopilar esta información y de utilizarla para los fines descritos. La información de la segunda
              categoría es aquella que solo recopilamos si nos da usted su permiso expreso para hacerlo en el futuro. Para
              esta segunda categoría de información pedimos su permiso antes de acceder a ella por primera vez, describimos
              cómo la usaremos si nos da usted permiso, solo utilizamos la información para los fines descritos y usted siempre
              tiene la capacidad de cambiar de parecer y revocar ese consentimiento.</p>

            <p>
              <strong>Nos expresaremos claramente con usted acerca de cómo y cuándo podríamos compartir la información.</strong>
            </p>

            <p>En algunos entornos compartimos cierta información. Por ejemplo, al igual que hacen la mayoría de los servicios,
              si usted se da de alta en Kiosko a través de un tercero como Facebook o un operador de telefonía móvil, compartimos
              alguna información con ellos y ellos comparten alguna información con nosotros a fin de activar su cuenta.
              Y también compartimos información anónima con nuestros socios de la industria musical para ayudarles a comprender
              el desempeño del contenido que nos licencian, con socios de marketing que nos ayudan con esfuerzos promocionales
              y con publicistas que hacen posible que ofrezcamos un servicio gratuito. También podrá haber ocasiones en las
              que desee usted que compartamos información. Por ejemplo, cuando prepara listas de reproducción tal vez desee
              que estas listas de reproducción sean visibles para sus amigos…y tal vez no lo desee. Así también usted puede
              pedirnos que compartamos información (como por ejemplo su dirección de correo electrónico) con artistas o empresas
              discográficas u otros socios que tal vez deseen enviarle directamente noticias u ofertas de promoción, pero
              también puede revocar ese permiso cuando lo desee.</p>

            <hr />

            <p>Esperamos que esto le ayude a entender nuestros compromisos de privacidad hacia usted. A continuación le presentamos
              los detalles, pero recuerde que esta introducción es parte de la Política de privacidad en sí, es nuestra promesa
              para usted. Si tiene alguna vez una pregunta o inquietud, háganoslo saber en
              <a href="mailto:privacy@kiosko.com">privacy@kiosko.com</a>.</p>

            <p>En esta Política de privacidad nos referimos al Servicio Kiosko o al Servicio. Estos términos se definen en nuestros
              <a href="/es/legal/end-user-agreement/?language=es&country=es">Términos y condiciones de uso</a> (los “Términos y condiciones de uso”).</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>2 Elementos clave de su consentimiento</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Al usar el Servicio, o al interactuar con él, usted autoriza lo siguiente:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ol>
              <li>Usar cookies y otras tecnologías.</li>
              <li>Transmitir su información fuera de su país de residencia.</li>
              <li>Recopilar, usar, compartir y realizar otro procesamiento de su información, incluso para fines publicitarios
                (tal como se describe en el resto de esta Política de privacidad; le recomendamos que continúe leyendo).</li>
              <li>Publicar y gestionar su información, según se describe en la sección >Información compartida.</li>
            </ol>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>En cada caso autoriza el procesamiento de los datos por las organizaciones descritas en esta Política de privacidad,
              incluido Kiosko, como controlador de datos, al cual se hace referencia al final de este documento (colectivamente,
              “Kiosko”, “nosotros”, “nos”, “nuestro”). En la sección
              <a href="#s6">Sus preferencias</a> describimos los controles y las configuraciones importantes relacionados con su cuenta
              Kiosko. Si no está de acuerdo con los términos de esta Política de privacidad, no utilice el Servicio.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>3 Información que recopilamos</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Podemos recopilar y almacenar la siguiente información:</p>

            <h3>3.1 Datos de registro</h3>

            <p>Al inscribirse en el Servicio, le podemos solicitar información como, por ejemplo, nombre de usuario, contraseña,
              dirección de correo electrónico, fecha de nacimiento, género, dirección, código postal y país. Si utiliza el
              Servicio con las credenciales de aplicaciones de terceros (según se define en la sección
              <a href="/es/legal/end-user-agreement/?language=es&country=es">Términos y condiciones de uso</a>) (p. ej., Facebook), nos autoriza a recopilar su información de autenticación,
              como su nombre de usuario y las credenciales de acceso cifradas. También podemos recopilar otro tipo de información
              que esté disponible en su cuenta de aplicaciones de terceros, o a través de esta como, por ejemplo, su nombre,
              foto de perfil, país, ciudad de residencia, dirección de correo electrónico, fecha de nacimiento, y los nombres
              y fotos de perfil de amigos y redes.</p>

            <p>También puede incluir voluntariamente en su perfil otras informaciones como su número de teléfono móvil y proveedor
              de servicios de teléfono móvil.</p>

            <h3>3.2 Uso, datos de registro y cookies</h3>

            <p>Al usar el Servicio, o interactuar con él, podemos usar diferentes tecnologías que recopilen información sobre
              el uso del servicio y el acceso a este. Podemos recopilar la siguiente información:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ol>
              <li>Información sobre el tipo de suscripción y sus interacciones con el Servicio, incluidas interacciones con canciones,
                listas de reproducción, con otros contenidos audiovisuales, otros usuarios Kiosko, aplicaciones de terceros
                y, también, publicidad, productos y servicios que se ofrecen o están disponibles en o a través del Servicio,
                o que están vinculados con este.</li>
              <li>Detalles de consultas que haya realizado, y fecha y hora de su consulta.</li>
              <li>Contenido de usuario (según se define en la sección
                <a href="/es/legal/end-user-agreement/?language=es&country=es">Términos y condiciones de uso</a>) que publica en el Servicio, que incluye mensajes que envía y recibe a
                través del Servicio.
              </li>
              <li>Datos técnicos, que pueden ser información de la URL, datos de cookies, su dirección IP, el tipo de dispositivo
                que utiliza para acceder o conectarse al servicio Kiosko, la identificación única de dispositivo, las características
                del dispositivo, el tipo de conexión de red (p. ej., wifi, 3G, LTE) y el proveedor, el rendimiento de la
                red y del dispositivo, el tipo de navegador, idioma, información que permite la gestión de derechos digitales,
                el sistema operativo y la versión de la aplicación Kiosko.</li>
              <li>Datos generados por el movimiento o datos generados por la orientación de sus sensores móviles (por ejemplo,
                acelerómetro o giroscopio).</li>
            </ol>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Puede integrar su cuenta Kiosko con aplicaciones de terceros. Si lo hace, podemos recibir información similar
              relacionada con sus interacciones con el Servicio en la aplicación de terceros e información sobre su actividad
              pública en la aplicación de terceros. Esto incluye, por ejemplo, los “Me gusta” y las publicaciones en Facebook.
              Podemos utilizar cookies y otras tecnologías para recopilar este tipo de información. Para obtener más información
              sobre el uso de la información, consulte la sección Información sobre cookies, otras tecnologías y recopilación
              de datos de terceros de esta Política de privacidad.</p>

            <h3>3.3 Su dispositivo móvil</h3>

            <p>Es posible que proporcionemos aplicaciones que dependen del uso de información adicional en su dispositivo móvil
              o que requieran el acceso a ciertos servicios en su dispositivo móvil que mejorarán su experiencia de Kiosko
              pero que no son imprescindibles para usar el Servicio. (En otras palabras, información que pertenece a la segunda
              categoría descrita en la Introducción de esta Política.) Por ejemplo tal vez le permitamos subir fotos a su
              perfil, conectarse con amigos o le permitamos que use comandos de voz para controlar el Servicio. El concedernos
              acceso no significa que nos conceda un acceso ilimitado a esa información ni que tengamos acceso a información
              específica sin su consentimiento. Al contrario, para cada tipo de información enumerada en esta sección, antes
              de acceder a la información o a estas aplicaciones de su dispositivo móvil le pediremos permiso. Si usted lo
              otorga, nosotros recopilaremos la información para los fines específicos explicados al pedir su autorización.
              Usted no tiene que darnos tal autorización a fin de usar Kiosko, y la aceptación de esta Política de privacidad
              no significa que nos haya concedido permiso para acceder a esta información.</p>

            <p>En particular:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ul>
              <li>Fotos y cámara: Nosotros no accederemos a sus fotos ni a su cámara sin obtener primero su consentimiento expreso,
                y nunca escanearemos ni importaremos su galería ni su carrete de fotos. Si usted nos concede permiso para
                acceder a fotos o a su cámara, solo usaremos las imágenes que usted decida específicamente compartir con
                nosotros. (Usted puede utilizar nuestra aplicación para seleccionar la foto o fotos que quiere compartir,
                pero nosotros nunca importaremos las fotos que usted revise excepto aquellas que comparta expresamente.)</li>
              <li>Localización: Nosotros no recopilaremos ni utilizaremos información específica sobre la localización de su
                dispositivo móvil (utilizando, por ejemplo, GPS o Bluetooth) sin obtener primero su autorización expresa.
                Y si usted elige compartir información sobre su localización pero más tarde cambia de idea, siempre tendrá
                la capacidad de dejar de compartir. Note que esto no incluye dirección de IP. Seguiremos utilizando su dirección
                de IP tal y como se describe anteriormente en la
                <a href="#s3-2">Sección 3.2</a> a fin de determinar, por ejemplo, en qué país está usted y cumplir con nuestros acuerdos
                de licencia.
              </li>
              <li>Voz: No accederemos a su micrófono sin primero obtener su consentimiento expreso. Usted siempre podrá desactivar
                el acceso al micrófono.</li>
              <li>Contactos: No escanearemos ni importaremos sus contactos almacenados en su teléfono sin primero obtener su
                permiso expreso. Solo usaremos la información de contacto para ayudarle a encontrar amigos o contactos que
                utilizan Kiosko si usted lo elige. Y no utilizaremos información de contacto para ningún otro fin sin primero
                obtener su permiso expreso por separado. Es posible que las leyes locales exijan que usted solicite el consentimiento
                de sus contactos para proporcionar su información personal a Kiosko, que puede usar dicha información para
                los fines estipulados en esta Política de privacidad.</li>
            </ul>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <h3>3.4 Datos de widgets</h3>

            <p>Otros sitios web pueden incluir widgets de Kiosko, como el Kiosko Play Button (botón Reproducción de Kiosko)
              o el Kiosko Follow Button (botón Seguir de Kiosko). Si visita sitios que usan widgets de Kiosko, podemos recibir
              determinada información, que incluye información sobre la página web que visitó. Kiosko y el widget pueden
              reconocerle, y el widget se puede utilizar para mostrar publicidad o contenido personalizado. Sabemos cuándo
              interactúa con un widget, y los sitios web que tiene widgets pueden recibir esta información.</p>

            <h3>3.5 Datos de pago</h3>

            <p>Si se inscribe en la suscripción de prueba (según se define en la sección Términos y condiciones de uso), adquiere
              alguna de nuestras suscripciones pagadas (según se define en la sección Términos y condiciones de uso) o realiza
              alguna otra compra a través de nuestro Servicio, es posible que nosotros y los procesadores de pago con los
              que trabajamos recopilemos y almacenemos la información de su tarjeta de crédito o débito (como el tipo de
              tarjeta y la fecha de vencimiento), además de otra información financiera que necesitamos para procesar su
              pago. También podemos recopilar información limitada, como su código postal, número de teléfono móvil y detalles
              sobre su historial de transacciones; todos datos necesarios para proporcionar el Servicio. Además, los procesadores
              de pago generalmente nos proporcionan información limitada de usted, como el token único que le permite realizar
              compras adicionales usando la información que tienen almacenada, información sobre la fecha de vencimiento,
              tipo de tarjeta de crédito y ciertos dígitos del número de su tarjeta.</p>

            <p>Si paga con factura, es posible que Kiosko tenga que recopilar y almacenar información adicional, como su nombre,
              fecha de nacimiento y número de teléfono, y entregarle esta información a los procesadores de pago con los
              que trabajamos para emitir la factura a fin de realizar controles crediticios y enviarle la factura.</p>

            <p>AL ACEPTAR LA POLÍTICA DE PRIVACIDAD, AUTORIZA EXPRESAMENTE A KIOSKO A USAR O COMPARTIR LA INFORMACIÓN QUE USTED
              LE PROPORCIONÓ A KIOSKO, INCLUSO SI DICHA INFORMACIÓN ESTÁ PROTEGIDA POR LAS LEYES LOCALES DE SECRETOS BANCARIOS,
              CON OTRAS EMPRESAS DEL GRUPO KIOSKO, CON CIERTOS SOCIOS COMERCIALES Y PROVEEDORES DE SERVICIOS DE CONFIANZA
              QUE PUEDEN ESTAR FUERA DE SU PAÍS DE RESIDENCIA (INCLUIDOS PAÍSES QUE NO OFRECEN EL MISMO NIVEL DE PROTECCIÓN
              EN EL PROCESAMIENTO DE DATOS PERSONALES COMO EL QUE OFRECE SU PAÍS DE RESIDENCIA). RECONOCE Y ACEPTA LA IMPORTANCIA
              DE COMPARTIR DICHA INFORMACIÓN PARA LA PRESTACIÓN DEL SERVICIO KIOSKO; TAMBIÉN ACUERDA QUE, AL ACEPTAR ESTA
              POLÍTICA DE PRIVACIDAD, CUANDO CORRESPONDA Y SEGÚN LO PERMITA LA LEY VIGENTE, RENUNCIA EXPRESAMENTE A SUS DERECHOS
              EN CONFORMIDAD A DICHAS LEYES DE SECRETO BANCARIO CON RESPECTO A KIOSKO, CUALQUIER EMPRESA DEL GRUPO KIOSKO,
              CUALQUIER SOCIO COMERCIAL Y PROVEEDOR DE SERVICIOS DE CONFIANZA QUE PUEDA ESTAR FUERA DE SU PAÍS DE RESIDENCIA.
              ESTE CONSENTIMIENTO TENDRÁ VALIDEZ MIENTRAS DURE SU RELACIÓN CON KIOSKO.</p>

            <h3>3.6 Sorteos, concursos y encuestas</h3>

            <p>Podemos ofrecerle oportunamente la posibilidad de participar en promociones como sorteos, concursos, ofertas
              y encuestas (“Promociones especiales”) a través del Servicio. Las Promociones especiales se regirán por una
              política de privacidad o por los términos y condiciones adicionales o independientes de esta Política de privacidad
              y de los Términos y condiciones de uso. Si las disposiciones de la política de privacidad y los términos y
              condiciones de la Promoción especial entran en conflicto con esta Política de privacidad o con los >Términos
              y condiciones de uso, prevalecerán las disposiciones adicionales o independientes. Si participa en una Promoción
              especial, podemos solicitarle cierta información adicional a la especificada en esta Política de privacidad,
              incluida información personal. Esa información adicional se puede combinar con la información de otra cuenta,
              y se puede usar y compartir conforme a lo estipulado en esta Política de privacidad.</p>

            <h3>3.7 Socios y proveedores de servicios de Kiosko</h3>

            <p>También podemos recibir información sobre usted de nuestros socios y proveedores de servicios; información que
              usaremos para personalizar su experiencia Kiosko, evaluar la calidad de la publicidad y la respuesta a esta,
              así como mostrar publicidad que sea relevante para usted. También usamos esta información tal como se explica
              en la sección Cómo usamos la información que recopilamos que sigue a continuación.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>4 Cómo usamos la información que recopilamos</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Podemos usar la información que recopilamos, que incluye su información personal, conforme a las autorizaciones
              que usted nos conceda, para lo siguiente:</p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ol>
              <li>Proporcionar, personalizar y mejorar su experiencia con el Servicio, productos, servicios y publicidad (incluidos
                productos y servicios de terceros) disponibles a través o fuera del Servicio (incluidos en otros sitios que
                visite), por ejemplo, al ofrecer recomendaciones, características, publicidad y contenido personalizado,
                adaptado o localizado a través o fuera del Servicio.</li>
              <li>Garantizar la funcionalidad técnica del Servicio, desarrollar nuevos productos y servicios, y analizar su uso
                del Servicio, lo que incluye su interacción con las aplicaciones, publicidad, productos y servicios que se
                ofrecen o están disponibles a través del Servicio o vinculados con este.</li>
              <li>Ponerse en contacto con usted por temas de investigación o relacionados con el Servicio, a través de correos
                electrónicos, notificaciones, mensajes de texto u otros mensajes, que usted aceptó recibir.</li>
              <li>Ponerse en contacto con usted, ya sea directamente o a través de uno de nuestros socios, con fines comerciales
                y promocionales a través de correos electrónicos, notificaciones u otros mensajes conforme a los permisos
                establecidos (p. ej., a través de los ajustes de su cuenta Kiosko). En la sección Sus preferencias, que sigue
                a continuación, encontrará información sobre las opciones que tiene para dejar de recibir ciertos mensajes.</li>
              <li>Usar, si nos autoriza usted expresamente a hacerlo, su número de teléfono móvil para enviarle mensajes de texto
                informativos, comerciales y promocionales mediante un sistema de marcación automático; su consentimiento
                no es una condición para poder inscribirse en los servicios de Kiosko.</li>
              <li>Permitir y promocionar el Servicio y otros servicios y productos, ya se dentro o fuera del Servicio, como características
                y contenido del servicio Kiosko, así como productos y servicios que estén disponibles a través del Servicio.</li>
              <li>Procesar pagos o prevenir y detectar fraudes.</li>
              <li>Ejecutar esta Política de privacidad, los Términos y condiciones de uso y otros términos que haya aceptado,
                incluyendo proteger los derechos, los bienes o la seguridad de Kiosko, sus usuarios, o cualquier otra persona
                o el contenido del Servicio protegido por derechos de autor.</li>
              <li>Ofrecerle características, información, publicidad u otros contenidos en función de su ubicación y su ubicación
                en relación con otros usuarios de Kiosko.</li>
              <li>Según lo dispuesto en esta Política de privacidad.</li>
            </ol>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>5 Información compartida</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>En esta sección describimos de qué manera usted o nosotros podemos compartir la información recopilada o generada
              al usar el servicio Kiosko.</p>

            <h3>
              5.1 Información que usted comparte</h3>

            <h4>5.1.1 Generalidades</h4>

            <p>El servicio Kiosko es un servicio social que ofrece muchas formas de encontrar, disfrutar y compartir contenido.
              Le recomendamos que aproveche estas características sociales con otras personas que usan el Servicio.</p>

            <p>Su nombre o nombre de usuario, la foto de perfil, a quién sigue, quién lo sigue a usted y su perfil de usuario
              Kiosko siempre estarán disponibles al público.</p>

            <p>Las listas de reproducción que creó o sigue, su actividad en el Servicio (p. ej., qué música escucha o comparte),
              los artistas que escuchó recientemente, sus canciones y artistas preferidos, y el contenido de usuario que
              publica, carga o aporta al Servicio estarán disponibles al público de manera predeterminada. Su actividad en
              el Servicio (p. ej., qué música escucha o comparte) aparecerá automáticamente en el Servicio y la podrán ver,
              por ejemplo, todos los usuarios que le siguen a usted o ven su perfil Kiosko. Si crea una lista de reproducción,
              se publicará de manera predeterminada, es decir, aparecerá en los resultados de los motores de búsqueda de
              terceros y puede aparecer junto con otra información de perfil público, como su foto, nombre o nombre de usuario.
              Aunque esta información se establezca como pública de manera predeterminada, en la sección Sus preferencias,
              que sigue a continuación, describimos las opciones que puede usar, junto con otros ajustes relevantes asociados
              a su cuenta Kiosko, para limitar la información compartida.</p>

            <p>Tenga en cuenta que cierta información siempre será de dominio público, es decir, las aplicaciones de terceros
              pueden acceder a esta información a través de nuestra interfaz de programación de aplicaciones (Application
              Program Interface, API) y herramientas de desarrollo. Se puede compartir determinada información adicional
              con aplicaciones de terceros y con otras personas a través de aplicaciones de terceros, según su configuración
              de permisos. Por ejemplo, puede usar las opciones de configuración para controlar si desea que su actividad
              de Kiosko se publique en Facebook. Asimismo, puede autorizar que aplicaciones de terceros tengan acceso a su
              dirección de correo electrónico, estado de suscripción, ubicación, fecha de cumpleaños o información similar
              si lo solicitan.</p>

            <p>Podemos usar su información pública para promocionar el Servicio y ayudar a otras personas a que le encuentren
              y le sigan a usted o al contenido de Kiosko, incluso a través de Facebook y aplicaciones de terceros y en sitios
              web que integran los widgets de Kiosko. Se puede utilizar su información para notificar a otros, dentro del
              Servicio, por correo electrónico y a través de Facebook y aplicaciones de terceros, sobre su uso del Servicio
              (p. ej., que se inscribió en Kiosko o sobre la actividad relacionada con un perfil de Kiosko, como agregar
              o eliminar canciones de una lista de reproducción).</p>

            <p>Si nos autoriza expresamente, podemos notificar a otros usuarios su ubicación. De igual manera, si los otros
              usuarios de Kiosko nos autorizan expresamente, podemos notificarle a usted la ubicación de otros usuarios.
              Podríamos ofrecerle la capacidad de compartir esta información a fin de crear experiencias compartidas.</p>

            <p>Para obtener información sobre cómo gestionar las notificaciones, la información pública y lo que comparte con
              otros usuarios, consulte la sección Sus preferencias que sigue a continuación.</p>

            <h4>5.1.2 Aplicaciones de terceros</h4>

            <p>Si conecta su cuenta Kiosko con una aplicación de terceros, Kiosko compartirá automáticamente su actividad y
              las historias relacionadas con la actividad, incluido el contenido que le interesa. Comprende y acepta que
              dicha información puede atribuirse a su cuenta en la aplicación de terceros y puede publicarse en dicho servicio.
              Aunque esta información se comparta automáticamente de manera predeterminada, en la sección Sus preferencias,
              que sigue a continuación, encontrará información sobre las opciones de configuración para limitar la información
              compartida. La aplicación de terceros puede tener opciones similares.</p>

            <p>Si inicia sesión en una aplicación de terceros con su cuenta Kiosko, esa aplicación puede acceder a cierta información,
              como sus listas de reproducción, contenido guardado y actividad. Si nos autoriza expresamente, también podemos
              compartir otras informaciones con las aplicaciones de terceros, como su dirección de correo electrónico, estado
              de suscripción, ubicación o fecha de cumpleaños.</p>

            <p>Kiosko también le permite compartir un contenido específico o una lista de reproducción que creó, individualmente,
              con aplicaciones de terceros, otros servicios de terceros, otros usuarios Kiosko y otras personas. Tenga en
              cuenta que si publica contenido en una aplicación o servicio de terceros, otras personas del Servicio lo podrán
              ver, independientemente de la configuración de su cuenta Kiosko.</p>

            <p>Comprende y acepta que el uso de la información que recopila una aplicación de terceros sobre usted (o según
              su autorización) se rige por las políticas de privacidad de dicha aplicación y su configuración en el servicio
              pertinente, y el uso de dicha información por parte de Kiosko se rige por esta Política de privacidad y la
              configuración de su cuenta Kiosko.
            </p>

            <h4>5.1.3 Comunidad de soporte</h4>

            <p>Al inscribirse en una cuenta de soporte de Kiosko en la comunidad de soporte de Kiosko, le solicitaremos que
              cree un nombre de usuario específico para la comunidad de soporte, que cualquier persona que acceda a la comunidad
              de soporte de Kiosko podrá ver. Si decide no crear el nombre de usuario, se usará su nombre de usuario de Kiosko
              o Facebook cuando publique contenido de usuario.</p>

            <h3>
              5.2 Información que comparte Kiosko</h3>

            <h4>5.2.1 Marketing y publicidad</h4>

            <p>Podemos compartir información con socios publicitarios para enviarle información promocional sobre Kiosko o para
              mostrarle contenido más personalizado, que incluye publicidad relevante sobre productos o servicios que pueden
              interesarle y para comprender cómo interactúan los usuarios con la publicidad. Compartimos la información en
              un formato anónimo (por ejemplo, a través del uso de hash) que no revela su identidad.</p>

            <p>Consulte la sección Información sobre cookies, otras tecnologías y recopilación de datos de terceros, que sigue
              a continuación, para obtener información sobre las cookies y otras tecnologías que utilizamos, tanto nosotros
              como terceros, para ofrecerle sus opciones y publicidad más relevantes.</p>

            <h4>5.2.2 Proveedores de servicios y otros</h4>

            <p>Ocasionalmente podemos compartir su información con proveedores de servicios para ejecutar y procesar datos de
              usuarios y proporcionar nuestro Servicio en conformidad con esta Política de privacidad. Por ejemplo, trabajamos
              con proveedores de servicios que alojan nuestro sitio de la comunidad de soporte Kiosko y proveedores de servicios
              analíticos que nos ayudan a comprender mejor el uso de nuestros Servicios. Si un tercero procesa datos de usuarios
              a nuestro nombre (p. ej., un proveedor de servicios de hospedaje de sitio), está sujeto a las obligaciones
              de seguridad y confidencialidad que cumplan con esta Política de privacidad y la ley vigente. Si un tercero
              procesa datos de usuario a su nombre, el procesamiento está sujeto a su propia Política de privacidad y a la
              ley vigente.</p>

            <h4>5.2.3 Titulares de derechos</h4>

            <p>El servicio Kiosko le permite escuchar música en streaming totalmente autorizada. Kiosko comparte información
              con los titulares de derechos que ceden este contenido a Kiosko. Kiosko comparte los datos en un formato anónimo
              que no revela su identidad, a menos que autorice el intercambio de su información personal.</p>

            <h4>5.2.4 Ciertos socios de Kiosko</h4>

            <p>Si accede al servicio de Kiosko a través de una oferta que recibió o adquirió a través de un tercero, como su
              operador de telefonía móvil, también podemos compartir con ese tercero la información sobre su uso del servicio
              Kiosko como, por ejemplo, si aprovechó y en qué medida la oferta, si activó una cuenta Kiosko o si ha usado
              el Servicio activamente.
            </p>

            <h4>5.2.5 Otra información compartida</h4>

            <p>Además de lo antes mencionado, también podemos compartir su información con terceros para los siguientes fines
              específicos:
            </p>
          </div>

          <div class="col-xs-9 col-xs-offset-1">
            <ul>
              <li>Permitir la fusión, adquisición o venta de nuestros activos, ya sea en forma total o parcial.</li>
              <li>Responder ante procesos legales (por ejemplo, una resolución o citación judicial), si consideramos de buena
                fe que es necesario hacerlo, para cumplir con los requisitos de la ley vigente, para proteger la seguridad
                de cualquier persona, para proteger los derechos y bienes de Kiosko, incluido el cumplimiento de los Términos
                y condiciones de uso y otros términos que haya aceptado cumplir, para solucionar problemas técnicos, de fraude
                o seguridad.</li>
              <li>Informar a investigadores sobre los objetivos, que incluyen análisis estadísticos y estudios académicos, pero
                solo en formato anónimo.</li>
              <li>Publicar la información sobre el uso del servicio Kiosko de forma anónima o por separado.</li>
              <li>Permitir a otras empresas del grupo Kiosko usar su información conforme a lo estipulado en esta Política de
                privacidad.
              </li>
            </ul>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>
              6 Sus preferencias</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Con las opciones de configuración que ofrecemos, usted puede elegir qué tipo de comunicación desea que le enviemos,
              gestionar su información pública y establecer las preferencias de información compartida. Sin embargo, tal
              como se explica en la sección Información que usted comparte, cierta información se establece como pública
              para otras personas de manera predeterminada. Y si comparte información en una aplicación de terceros, esa
              información se podrá ver en Kiosko, independientemente de sus opciones de configuración de privacidad.</p>

            <p>Para cambiar qué información desea que se establezca como pública, acceda a la configuración de su cuenta. Lea
              las >instrucciones para realizar configuraciones relevantes en el sitio web de Kiosko.</p>

            <p>Debido a que otras personas podrán usar, volver a compartir o vincular la información pública en el Servicio
              o en la web, utilice Kiosko con cuidado y tenga en cuenta sus opciones de configuración. Recuerde que incluso
              si elimina una lista de reproducción o crea una lista privada, aquellas personas que ya se suscribieron a esta
              o que pueden acceder de otra manera (p. ej., mediante un enlace) seguirán teniendo acceso a esta. También recuerde
              que las listas de reproducción y cualquier otra información agregada a su perfil pueden incluir información
              personal, como su nombre de usuario, mediante el cual otras personas lo podrán encontrar en el servicio Kiosko
              o en otros servicios.
            </p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>
              7 Transmisión a otros países</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Kiosko transmite, procesa y almacena información de los usuarios a través de los servidores ubicados en diferentes
              países. Por lo tanto, Kiosko puede compartir su información con otras empresas del grupo Kiosko a fin de llevar
              a cabo las actividades especificadas en esta Política de privacidad. Kiosko puede, además, subcontratar el
              procesamiento de la información o compartirla con terceros que se encuentren en otros países que no sean su
              país de residencia. Por lo tanto, su información personal puede estar sujeta a leyes de privacidad diferentes
              a las de su país de residencia. Los terceros antes identificados podrán transmitir y procesar la información
              recopilada en el Espacio Económico Europeo (European Economic Area, “EEA”) y en Suiza; estos terceros pueden
              estar en un país fuera del EEA y Suiza, donde es posible que usted tenga menos derechos legales respecto de
              su información. El grupo Kiosko procesará su información según lo dispuesto en esta Política de privacidad.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>8 Enlaces</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Podemos mostrar publicidad de terceros y otros contenidos que se vinculen con los sitios web de terceros. No
              controlamos ni nos responsabilizamos por el contenido y las prácticas de privacidad de terceros. Lea las políticas
              de privacidad de terceros para saber de qué manera recopilan y procesan su información personal.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>9 Seguridad</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Nos comprometemos a proteger la información de nuestros usuarios. Como su contraseña protege su cuenta de usuario,
              debería usar una contraseña única y segura, limitar el acceso a su ordenador y navegador, y cerrar sesión después
              de usar el servicio Kiosko. Aunque implementemos medidas para proteger los datos, ninguna medida es totalmente
              segura, y no garantizamos la seguridad de la información del usuario.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>10 Menores de edad</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>El servicio Kiosko no está dirigido a menores de 13 años. (En algunos países puede haber límites más estrictos.
              Consulte nuestros Términos y condiciones de uso). No recopilamos, a sabiendas, información personal de niños
              menores de 13 años o que están en el límite de edad aplicable (el “Límite de edad”). Si tiene menos años que
              el Límite de edad establecido, no use el Servicio ni nos proporcione información personal. Si es padre de un
              niño menor al Límite de edad establecido y se entera de que su hijo le ha proporcionado información personal
              a Kiosko, escríbanos a
              <a href="mailto:privacy@kiosko.com">privacy@kiosko.com</a> y podrá solicitar ejercer sus derechos de acceso, rectificación, cancelación u objeción
              aplicables. Si es residente de California menor de 18 años y desea eliminar el contenido establecido como público,
              escríbanos a
              <a href="mailto:eraser@kiosko.com">eraser@kiosko.com</a>.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>11 Acceso y actualización de la información de usuario</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Puede ver y modificar gran parte de la información que obtenemos de usted a través de su cuenta y páginas de
              perfil. Si tiene preguntas relacionadas con su privacidad en el Servicio, esta Política de privacidad o sobre
              la información que tenemos de usted, escríbanos a
              <a href="mailto:privacy@kiosko.com">privacy@kiosko.com</a>. También puede ponerse en contacto con un representante de Privacidad enviando una carta
              a Kiosko, a la atención de: Privacy Officer, Legal Department, 45 West 18th Street, 7th Floor, New York, NY
              10011, United States. Responderemos a su solicitud dentro de un período de tiempo razonable después de verificar
              su identidad en conformidad con las leyes locales. Le sugerimos que incluya documentos que demuestren su identidad
              y una descripción clara y precisa de la información a la que desea acceder.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>12 Cambios en la Política de privacidad</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Ocasionalmente y a nuestra discreción, podemos implementar cambios en los Contratos. Si implementamos cambios
              importantes en los Contratos, le notificaremos de la manera que consideremos más oportuna; por ejemplo, mostraremos
              un aviso destacado en el Servicio o le enviaremos un correo electrónico. En algunos casos le notificaremos
              anticipadamente, y su uso continuo del Servicio una vez implementados los cambios constituirá su aceptación
              de los cambios. Por lo tanto, asegúrese de leer el aviso detenidamente. Si no desea seguir usando el Servicio
              conforme al nuevo Contrato, puede rescindir los Contratos y ponerse en contacto con nosotros a través del formulario
              de contacto de Atención al Cliente.</p>
          </div>

          <div class="col-xs-11 col-xs-offset-1">
            <h2>13 Información sobre cookies, otras tecnologías y recopilación de datos de terceros</h2>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <p>Esta sección describe el uso de cookies y otras tecnologías. Para obtener más información sobre cómo comparte
              Kiosko la información, consulte la sección 'Información que comparte Kiosko'</p>

            <h3>13.1 ¿Qué son las cookies y otras tecnologías?</h3>

            <p>Una cookie es un archivo de texto pequeño que se instala en su ordenador, teléfono móvil u otro dispositivo cuando
              ingresa a un sitio web. La cookie ayudará a los proveedores del sitio web a reconocer su dispositivo cuando
              visite nuevamente el sitio web. Existen otras tecnologías similares, como etiquetas píxeles (imágenes gráficas
              transparentes insertadas en una página web o en un correo electrónico que indican que esa página o correo electrónico
              ya se ha visto), web bugs (similares a los píxeles) y almacenamiento web, que se utilizan en software de escritorio
              o dispositivos móviles.
            </p>

            <p>También hay tecnologías, como identificadores de dispositivos e integración de kit de desarrollo de software
              (Software Development Kit, SDK), para ayudar a las empresas a reconocer su dispositivo cuando regrese a una
              aplicación o use el servicio de alguna manera.</p>


            <p>También usamos identificadores de dispositivos móviles y otras tecnologías mencionadas en la Sección 13.1 para
              los fines estipulados en esta Política de privacidad; por ejemplo, para reconocer cuándo su dispositivo usa
              nuevamente la aplicación Kiosko o los servicios Kiosko de otra manera.</p>


            <h3>13.3 Administración de sus cookies y otras preferencias</h3>

            <p>Muchos navegadores web le permiten administrar sus preferencias. Puede configurar su navegador para rechazar
              o eliminar ciertas cookies. También puede gestionar otras tecnologías de la misma manera que administra las
              cookies con las preferencias del navegador.</p>

            <p>Tenga en cuenta que si opta por bloquear las cookies, puede afectar el servicio Kiosko o impedir el correcto
              funcionamiento de ciertos elementos.</p>

            <p>No existe una norma aceptada sobre cómo actuar ante las solicitudes de Do Not Track (no rastrear), y obviamos
              tales solicitudes. Usamos el icono AdChoices en nuestro sitio web, y es posible que aparezca en cierta publicidad
              orientada que nosotros o un proveedor de servicios actuando en nuestro nombre le enviamos conforme a la información
              recopilada de sus actividades en línea. Puede hacer clic en el icono AdChoices o visitar el sitio aboutads.info
              para obtener más información sobre la recopilación y el uso de la información relacionada con sus actividades
              en línea para publicidad en línea basada en el comportamiento, o para obtener información sobre cómo impedir
              que las empresas participantes de Digital Advertising Alliance (DAA) utilicen sus datos para publicidad en
              línea basada en el comportamiento. Los usuarios canadienses pueden visitar youradchoices.ca y los europeos
              youronlinechoices.com para obtener información sobre cómo evitar que las empresas miembros de European Interactive
              Digital Advertising Alliance (EDAA) utilicen los datos para publicidad en línea basada en el comportamiento.</p>

            <p>Otra herramienta es la herramienta de exclusión de Network Advertising Initiative (NAI), que se encuentra disponible
              ennetworkadvertising.org/choices. Esta herramienta le permite impedir que las empresas miembros de NAI usen
              información relacionada con sus actividades en línea para publicidad en línea basada en el comportamiento.</p>

            <p>Es posible que en su dispositivo móvil también tenga la opción “Limitar seguimiento de anuncios” (dispositivos
              iOS) o la opción “Excluir anuncios basados en intereses” (dispositivos Android), que le permiten limitar el
              uso de información relacionada con el uso de aplicaciones para realizar publicidad basada en sus intereses.</p>

            <p>Tenga en cuenta que, aun excluyendo los mecanismos anteriores, es posible que siga recibiendo publicidad al usar
              el servicio Kiosko.</p>

            <p>Trabajamos con socios publicitarios para incluir publicidad en el servicio Kiosko. Uno de los servicios que
              utilizamos para llevar un seguimiento de las actividades relacionadas con el Servicio, por ejemplo, almacenar
              cookies, es Google Analytics de Google (Google, Inc., una empresa cuya sede central se encuentra en 1600 Amphitheatre
              Parkway, Mountain View, CA 94043, Estados Unidos). Podemos usar proveedores, como Google, que usen cookies
              propias (como la cookie de Google Analytics) y cookies de terceros (como la cookie de DoubleClick) juntas para
              informar, optimizar y enviar anuncios en función de sus visitas anteriores a nuestro sitio web, lo que incluye
              la Analítica de publicidad de Google Analytics. Google ofrece herramientas para administrar la recopilación
              y el uso de cierta información por parte de Google Analytics en tools.google.com/dlpage/gaoptout y por parte
              de Analítica de publicidad de Google Analytics o la Red de Display de Google al usar Ads Settings de Google
              en google.com/settings/ads.</p>

            <p>Por el presente autoriza el uso de las cookies y otras tecnologías descritas anteriormente.</p>

            <h3>13.4 Más información</h3>

            <p>Para obtener más información acerca del uso de las cookies y cómo bloquearlas, visite
              <a href="http://www.allaboutcookies.org/">allaboutcookies.org</a>,
              <a href="http://www.youronlinechoices.eu/">youronlinechoices.eu</a> (Europa) o
              <a href="http://www.aboutads.info/choices/">aboutads.info/choices</a> (Estados Unidos). Si tiene preguntas o comentarios sobre el uso de las cookies, escríbanos
              a
              <a href="mailto:privacy@kiosko.com">privacy@kiosko.com</a>.</p>

            <p>Gracias por leer nuestra Política de privacidad. Esperamos que disfrute Kiosko.</p>

            <p>Controlador de datos:</p>

            <p>Kiosko AB
              <br /> Regeringsgatan 19, SE-111 53 Stockholm
              <br /> Sweden
            </p>

            <p>© Kiosko AB.</p>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>