<div class="row">
  <app-menubar></app-menubar>
  <div class="col-xs-12 top-margin container-fluid">
    <div class="row userProfile">
      <div class="col-xs-offset-2 col-xs-8 col-sm-4 col-sm-offset-1">
        <img src="{{WebServiceURL}}{{currentUser?.Thumbnail}}" alt="{{currentUser?.Name}} {{currentUser?.LastName}}" class="img-circle img-responsive center-block userImg">
      </div>
      <div class="col-sm-6 userInfo">
        <div class="col-xs-offset-1 col-xs-10 formul">
          <input type="text" [(ngModel)]="currentUser.Name" placeholder="Nombre" class="col-xs-12 formulBox">
        </div>
        <div class="col-xs-offset-1 col-xs-10 formul">
          <input type="text" [(ngModel)]="currentUser.LastName" placeholder="Apellidos" class="col-xs-12 formulBox">
        </div>
        <div class="col-xs-offset-1 col-xs-10 formul">
          <input type="text" [(ngModel)]="currentUser.BoardSignature" placeholder="Alias" class="col-xs-12 formulBox">
        </div>
        <div class="col-xs-offset-1 col-xs-10 formul">
          <input type="text" [(ngModel)]="currentUser.Birthdate" placeholder="Fecha de nacimiento" class="col-xs-12 formulBox">
        </div>
        <div class="col-xs-offset-1 col-xs-10 formul">
          <input type="text" [(ngModel)]="currentUser.Email" class="col-xs-12" [readonly]="disabled">
        </div>
        <div class="col-xs-offset-1 col-xs-10 formul">
          <input type="text" [(ngModel)]="currentUser.Pass" class="col-xs-12" [readonly]="disabled">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-1 col-xs-5">
        <button type="button" class="btn btn-default col-xs-12  goToMyAdressesBtn" (click)="gotoMyAdresses()">Mis direcciones</button>
      </div>
      <div class="col-xs-5">
        <button type="button" class="btn btn-default col-xs-12 goToMyWalletBtn" (click)="gotoMyWallet()">Métodos de pago</button>
      </div>
    </div>
  </div>
</div>