<div class="row background">
  <app-menubar></app-menubar>
  <div class="col-xs-12 top-margin">
    <div class="row">
      <app-magazine-slider [magazines]="sliderMagazines"></app-magazine-slider>
      <app-magazine-carousel [magazines]="viewedMagazines"></app-magazine-carousel>
      <app-magazine-carousel [magazines]="recommendedMagazines"></app-magazine-carousel>
      <app-magazine-carousel [magazines]="cart"></app-magazine-carousel>
      <app-magazine-carousel [magazines]="likedMagazines"></app-magazine-carousel>
      <app-magazine-carousel [magazines]="downloadedMagazines"></app-magazine-carousel>
    </div>
  </div>
</div>
