<div class="row">
  <app-menubar></app-menubar>
  <div class="col-xs-12 top-margin">
    <div class="row">
          <h3>Email: {{currentUser?.Name}} {{currentUser?.LastName}} </h3>
          <a [routerLink]="['/magazine']">Ir a detalle</a>
    </div>
    <div class="row">
      <app-magazine-carousel></app-magazine-carousel>
      <app-magazine-carousel></app-magazine-carousel>
      <app-magazine-carousel></app-magazine-carousel>
      <app-magazine-carousel></app-magazine-carousel>
      <app-magazine-carousel></app-magazine-carousel>
      <app-magazine-carousel></app-magazine-carousel>
    </div>
  </div>
</div>
